<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= render 'form', book: @book %>
      <%= link_to "Show", books_path %>
      |
      <%= link_to "Back", book_path(@book) %>
    </div>
  </div>
</div>